@import "tailwindcss";

@theme {
  --color-surface: #fff;
  --color-foreground: #000;
  --color-secondary: #444;
  --color-subtle: #eee;
  
  --color-green-500: #3AA906;
  --color-red-500: #D20707;
  --color-yellow-500: #D39A09;
  
  --color-bronze: #C39B73;
  --color-silver: #bbb;
  --color-gold: #FDBB30;
  --color-wine: #860038;
}

@layer theme {
  :root {
    --text-sm: 10px;
    --text-base: 13px;
    --text-lg: 32px;
    --text-xl: 60px;
    --text-xl--line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: #000;
    --color-foreground: #fff;
    --color-secondary: #aaa;
    --color-subtle: #222;
    --color-bronze: #8E5924;
    --color-silver: #555;
  }
}

@media (max-width: 768px) {
  :root {
    --text-xl: 40px;
  }
}

@layer base {
  html {
    font-size: var(--text-base);
  }
  
  ::selection {
    color: var(--color-wine);
    background-color: var(--color-gold);
  }
}
