@import "tailwindcss";

@theme {
  --color-surface: #fff;
  --color-foreground: #000;
  --color-secondary: #444;
  --color-subtle: #eee;
  --font-size-sm: 10px;
  --font-size-base: 13px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: #000;
    --color-foreground: #fff;
    --color-secondary: #aaa;
    --color-subtle: #222;
  }
}

@layer base {
  html {
    font-size: var(--font-size-base);
  }
}
