@import "tailwindcss";

@theme {
  --color-surface: #fff;
  --color-foreground: #000;
  --color-secondary: #444;
  --color-subtle: #eee;
}

@layer theme {
  :root {
    --text-sm: 10px;
    --text-base: 13px;
    --text-lg: 40px;
    --text-xl: 48px;
    --text-xl--line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: #000;
    --color-foreground: #fff;
    --color-secondary: #aaa;
    --color-subtle: #222;
  }
}

@layer base {
  html {
    font-size: var(--text-base);
  }
}
